.menu-sidebar{
    width: 230px;
    height: 500px;
    text-align: center;
    border: 1px solid black;
    margin: 20px 0px 0px 0px;
    /* From https://css.glass */
    background: rgba(36, 36, 36, 0.63);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    color: white;
}

html {
    background-color: #1db954;
    background-image: linear-gradient(160deg, #1db954 0%, #80D0C7 100%);
    font-family: 'Open Sans', sans-serif;
}

.main-header, .stats-options, .fetch-options{
    margin: -1px -1px -1px -1px;
    padding:20px 0px 20px 0px;
}

.stats-options {
    display: flex;
    gap: 10px;
}

.main-header{
    border-radius: 10px;
}

.stats-options, .fetch-options{
    border: 1px solid black;
}

.stats-options, .fetch-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content{
    background: rgba(36, 36, 36, 0.63);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    width: 900px;
    height: 800px;
    margin: 10px 0px 0px 30px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.app-area{
    display: flex;
    justify-content: center;
}

#data-container {
    margin: 0px 0px 10px 0px;
    
}

.data-container ul, tr {
    padding: 0;
    margin: 0;
}

.data-container li, td {
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #eee;
    color: #666;
}

.data-container li, td:first-child{
    width: 200px;
}

.data-container li, td:nth-child(2){
    width: 400px;
}

.data-container li, td:nth-child(3){
    width: 120px;
}

.trackName, .artistName{
    color: white;
}

.function-header {
    margin-right: auto;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 0;
    font-size: 20px;
}

.listening-history-section {
    display: none;
    font-size: 12px;
}

.topArtists-section {
    display: contents;
}

.dashboard-section{
    display: none;
}

.topArtists-content{
    display: none;
}

.topTracks-section, .topTracks-content{
    display: none;
}

.recentlyPlayedTracks{
    display: none;
}

.topArtists-results, .topTracks-results{
    display: flex;
    width: 780px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap:10px;
}

.dataItems {
    text-align: center;
    width: 180px;
    height: 250px;
}

.topArtistsImg, .topTracksImg {
    width: 150px;
    height: 150px;
}

.topArtists-btn-limit, .topTracks-btn-limit{
    padding: 3px 10px 3px 10px;
    margin-left: auto;
    margin-right: 50px;
}

.recentlyPlayed-results {
    display: flex;
    width: 780px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
}

.recentlyPlayedImg{
    width: 50px;
}

.recentlyPlayedImgSection{
    width: 60px;
}

.recentlyPlayedSection {
    border-collapse: collapse;
    font-size: 14px;
}

.login-warning {
    font-size: 22px;
}

.login-message-menu, .login-warning-menu {
    font-size: 14px;
}

.recentlyPlayed-data-container ul, tr {
    padding: 0;
    margin: 0;
}

.recentlyPlayed-data-container li, td {
    margin-bottom: 5px;
    padding: 5px 10px;
    background: #000000;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
}

.recentlyPlayed-data-container li, td:first-child{
    width: 60px;
    text-align: center;
}

.recentlyPlayed-data-container li, td:nth-child(2){
    width: 200px;
}

.recentlyPlayed-data-container li, td:nth-child(3){
    width: 120px;
}